@model CollectionGroupViewModel
@{
    ViewData["Title"] = Model.Group.Name;
}

<div class="text-center">
    <div class="card mb-5 text-white">
        <div class="card-header bg-info d-flex justify-content-between align-items-center">
            <a class="btn text-white" asp-controller="Home" asp-action="Index"><i class="fas fa-arrow-left"></i></a>
            <h5 class="mt-2"><b>@Model.Group.Name</b> collections</h5>
            <br/>
        </div>
    </div>
    <div class="row row-cols-auto row-cols-md-2">
        @{
            await Html.RenderPartialAsync("_NewCardPartial", new NewCardViewModel() {
                Message = "Create new",
                Title = "New Collection",
                Url = Url.Action("Create", "Collection", new { groupId = Model.Group.Id }, Context.Request.Scheme)
            });
        }
        @foreach (Collection collection in Model.Collections)
        {
            await Html.RenderPartialAsync("_CardPartial", new CardViewModel() {
                Header = collection.Name,
                Message = collection.Value,
                Footer = await Html.PartialAsync("_CollectionButtonsPartial", collection)
            });
        }
    </div>
</div>
