@using ECollectionApp.WebUI.Models
@model CollectionGroup
@{
    ViewData["Title"] = Model.Name;
}

<div class="text-center">
    <p>Hey, there you have your resources for group @Model.Name.</p>
</div>
