@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Welcome @User.Identity.Name</h1>
        <p>Check your collection groups and edit them if you like</p>
    }
    else
    {
        <a id="loginBtn" asp-controller="Home" asp-action="Login">Sign in</a>
    }
</div>
