@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3 class="m-4">This is web application is Proof of Concept (PoC) of the microservices architecture using web technologies</h3>
<h5 class="m-4">Every microservice are based on local hosting so they are not deployed and no public resource is used</h5>
<h5 class="ml-4 mr-4">Read <a href="https://github.com/Prastiwar/ECollectionApp">README.md</a> for more information</h5>
